<!DOCTYPE html>
<html>
<head>
<title>Welcome to Sohaib's Flask website</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
<h1>Welcome to Sohaib Enterprises, to explore all of the features of the website, please login!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
</div>
</body>
</html>